@media screen and (max-width:650px) {
    .container>h1{
        font-size: xx-large;

    
    }
    .heading{
        margin-top: 150px;
    }
}

@media screen and (max-width:385px) {
    .container>h1{
        font-size: x-large;
    
    }
    nav>ul{
        flex-direction: column;
        margin: 0px 0px 60px 0px;
    }
    nav>ul>li{
        margin: 2px;
    }
}

@media screen and (max-width:365px) {
    .gridcontainer {
        grid-template-columns: auto;
        grid-template-rows: max-content;
    }
    .heading{
        margin-top: 200px;
    }
}